<html>
    <head>
        <title> The Gossip Project </title>
    </head>
    <body>
        <h1> Mon super site de gossip, testest depuis le dossier views ! </h1>
        <h2> Tes gossips préférés arrivent bientôt, mais entre temps tu peux <a href="/gossips/new/">créer un gossip ici</a></h2>

        <% gossips.each_with_index do |gossip,index| %>
            <p>
              <%= gossip.author %><br/>
              <%= gossip.content %><br/>
              <h3>Et voici <a href="/gossips/<%= index+1 %>">le lien</a> vers ton potin !</h3>
            </p>
          <% end %>
    </body>
</html>