<html>
    <head>
        <title> The Gossip Project </title>
    </head>
    <body>
        <h1> Voici le gossip N° <%= id%> que tu souhaitais afficher ! </h1>
            <p>
              <h3> Auteur : <%= real_gossip.author %></h3>
              <h3> Contenu : <%= real_gossip.content %></h3>
            </p>

            <h2> Et voici <a href="/">le lien</a> pour revenir à la page des potins !</h2>
    </body>
</html>